@charset "UTF-8";

body {
  font-family: "Noto Sans JP", sans-serif;
}
#header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  z-index: 99;
}
#header li {
  margin-right: 20px;
  margin-left: 10px;
}
#header li a {
  color: #24292e;
  font-family: "Noto Serif JP", serif;
}
#header li a:hover {
  opacity: 0.7;
}
#header h1 {
  font-size: 30px;
  color: #B71B26;
  font-weight: bold;
  margin-left: 10px;
  font-style: italic;
}
#headerImg img {
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.title, .subtitle {
  font-family: "Noto Serif JP", serif;
  text-align: center;
}
.title {
  font-size: 40px;
}
.subtitle {
  margin: 16px auto 24px auto;
}
#concept {
  padding: 140px;
  text-align: center;
}
.subsubtitle {
  font-size: 25px;
  text-align: center;
  margin: 24px auto;
}
section .text1 {
  font-size: 18px;
  text-align: left;
  display: inline-block;
}
#service {
  padding: 100px 0;
}
#service ul {
  padding:0 8% ;
  display: flex;
  justify-content: space-between;
}
#service ul li {
  padding: 20px;
}
#service li a {
  display: flex;
  justify-content: right;
}
.content-Title {
  font-family: "Noto Serif JP", serif;
  text-align: center;
  font-size: 25px;
  margin: 15px;
}
section .text2 {
  font-size: 15px;
  text-align: left;
  display: inline-block;
}
#flow {
  background-color: #223E69;
  text-align: center;
}
#flow .subtitle {
  color: #B71B26;
}
.flow-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.flow-Steps {
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
}
.step1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.step2 {
  grid-column: 1/2;
  grid-row: 5/6;
}
.step3 {
  grid-column: 1/2;
  grid-row: 9/10;
}
.step4 {
  grid-column: 1/2;
  grid-row: 13/14;
}
.step5 {
  grid-column: 1/2;
  grid-row: 17/18;
}
.step6 {
  grid-column: 1/2;
  grid-row: 21/22;
}
.arrow1 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.arrow2 {
  grid-column: 1/2;
  grid-row: 7/8;
}
.arrow3 {
  grid-column: 1/2;
  grid-row: 11/12;
}
.arrow4 {
  grid-column: 1/2;
  grid-row: 15/16;
}
.arrow5 {
  grid-column: 1/2;
  grid-row: 19/20;
}
.flow-Steps {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.step1 {
  writing-mode: vertical-rl;
  background-color: #000000;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  padding: 80px 10px;
}
.step2 {
  writing-mode: vertical-rl;
  background-color: #000000;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  padding: 70px 10px;
}
.step3 {
  writing-mode: vertical-rl;
  background-color: #000000;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  padding: 70px 10px;
}
.step4 {
  writing-mode: vertical-rl;
  background-color: #000000;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  padding: 80px 10px;
}
.step5 {
  writing-mode: vertical-rl;
  background-color: #000000;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  padding: 90px 10px;
}
.step6 {
  writing-mode: vertical-rl;
  background-color: #000000;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  padding: 70px 10px;
}
.arrow1, .arrow2, .arrow3, .arrow4, .arrow5 {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 0 20px;
  color: #B71B26;
}
.informaition {
  width: 60%;
  margin: 0 auto;
}
.qa-Section {
  max-width: 800px;
  margin: auto;
}
.qa-Block {
  margin-bottom: 30px;
}
.q-Icon,
.a-Icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 10px;
  font-family: serif;
}
.q-Icon {
  background-color: #333;
}
.a-Icon {
  background-color: #d62828;
}
.q-Text,
.a-Text {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 50px);
}
.a-Text {
  display: block;
  margin-top: 5px;
}
.a-Block {
  display: flex;
}
.a-Block, .q-Block {
  padding: 10px 0;
}
.qa-Block {
  margin-top: 20px 0;
}
#qanda {
  margin: 100px 0;
}
#contact {
  background-color: #223E69;
  padding: 50px 0;
}
.contact-Form {
  background-color: #ffffff;
  padding: 30px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-Row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form-Row .input-Area label{
  margin-right: 30px;
}
.contact-Form #top3 {
  margin-top: 30px;
}
.form-Row label {
  width: 250px;
  font-weight: bold;
  margin-right: 10px;
  line-height: 1.5;
}
.input-Area {
  flex: 1;
  align-items: center;
}
  
input[type="text"],input[type="email"],
input[type="tel"],textarea {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ffffff;
}
.address-Row {
  display: flex;
  gap: 10px;
  flex: 1;
  flex-direction: column;
}
textarea {
  resize: vertical;
  height: 200px;
}
  
.required {
  background-color: #b71b26;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 5px;
}
.submit-Btn {
  display: inline-block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
  color: #fff;
  background-color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.submit-Btn:hover {
  transform: scale(0.9,0.9);
}

.center {
  justify-content: center;
}
.zipcode input, input[type="text"], input[type="tel"] {
  display: flex;
  flex: 0; 
}
.contact-Form label {
  text-align: right;
} 
.zipcode p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zipcode {
  display: flex;
}
.input-Area {
  text-align: left;
  justify-self: center;
}
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: small;
  font-family: "Noto Serif JP", serif;
}
#backtop {
  display: flex;
  justify-content: right;
  margin: 150px 24px 0 0;
}
#backtop img {
  -webkit-transition: all .3s;
  transition: all .3s;
}
#backtop img:hover {
  transform: scale(0.7,0.7);
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subtitle::before,
.subtitle::after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #000000;
}
.subtitle::before {
  margin-right: 20px;
}
.subtitle::after {
  margin-left: 20px;
}
#flow .subtitle::before,
#flow .subtitle::after {
  background-color: #b71b26;
}
li a p {
  position: relative;
}
li a p::after {
  position: absolute; 
  left: 0;            
  content: '';        
  width: 100%;        
  height: 2px;        
  background: #000000;
}
li a p::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top; 
  transition: transform 0.3s;   
}  
li a p:hover::after {
  transform: scale(1, 1); 
}
@media screen and (min-width:769px){
#header nav input, #header nav label, #header nav span {
  display: none;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#headerImg .sp{
  display: none;
}
.contact-Form #top1 ,
.contact-Form #top2  {
  align-items: flex-start;
}
}
@media screen and (max-width: 768px) {
body {
  width: 105%;
}
#header {
  padding: 20px 0;
}
#header h1 {
  z-index: 99;
  font-size: 20px;
  position: fixed;
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: #ffffff;
}  
#headerImg .sp{
  width: 100%;
}
#headerImg .pc{
  display: none;
}
#headerImg img {
  margin-top: 35px;
}
.menu {
  display: block;
}
#concept .title {
  display: flex;
  justify-content: center;
}
#concept h3 {
  font-size: 25px;
  white-space: nowrap;
  display: flex;
  justify-content: center ;
}
#concept {
  padding: 50px 0;
}
#concept .text1 {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
}
#service ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle {
  display: flex ;
  justify-content: center;
}
p .sp {
  display: none;
}
.flow-Steps {
  display: grid;
  grid-template-rows: none;
}
.step1, .step2, .step3, .step4, .step5, .step6 {
  writing-mode: unset;
  padding: 10px 130px;
}
.arrow1, .arrow2, .arrow3, .arrow4, .arrow5 {
  transform: rotate(90deg);
  padding: 5px 0;
}
.qa-Section {
  max-width: 768px;
}
.q-Text, .a-Text {
  font-size: 20px;
}
.contact-Form {
  max-width: 768px;
  padding: 20px 0;
  background-color: #223E69;
}
.contact {
  padding: 50px 0 0;
}
.form-Row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-Row label {
  text-align: center;
}
.form-Row input[type="text"],
.form-Row input[type="email"],.form-Row input[type="tel"],.form-Row textarea, input[type="text"] {
  width: 90%;
}
.address-Row {
  width: 90%;
}
.address-Row input[type="text"]{
  width: 100%;
}
.zipcode input[type="text"] {
  width: 120px;
}
.informaition {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
}
.gMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.gMenu .menu-Icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  padding-top: 5px;
  height: 12px;
}
.gMenu .menu-Icon .navicon {
  background: #B71B26; 
  display: block;
  height: 2px;
  width: 31px; 
  position: relative;
  transition: background .4s ease-out; 
}
.gMenu .menu-Icon .navicon::before,
.gMenu .menu-Icon .navicon::after {
  background: #b71b26; 
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}
.gMenu .menu-Icon .navicon::before {top: 10px;}
.gMenu .menu-Icon .navicon::after {top: -10px;}
.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; 
  transition: max-height .6s; 
  text-align: center;
}
.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
.gMenu .menu-Btn {
  display: none;
}
.gMenu .menu-Btn:checked ~ .menu {
  max-height: 420px; 
  transition: max-height .6s;
}
.gMenu .menu-Btn:checked ~ .menu-Icon .navicon {background: transparent;}
.gMenu .menu-Btn:checked ~ .menu-Icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-Btn:checked ~ .menu-Icon .navicon::after {transform: rotate(45deg);top: 0;}
}